{%extends 'all-photos/base.html'%} {% block content %} {{block.super}}

<h1>
    Welcome to my Gallery
</h1>
<div class="row">
    {% for im in image %}

    <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6'>

        <img src="{{im.image.url}}" class="img-thumbnail " alt="Image" data-toggle="modal" data-target="#{{im.id}}"><br>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="{{im.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

                    <div class="modal-body">
                        <img src="{{im.image.url}}" class="img-thumbnail " alt="Image">
                        <p>{{im.img_name}}</p>
                        <p>{{im.img_description}}</p>
                        <p>Taken at: {{im.nameloc}}</p>
                        <p>Category: {{im.category}}</p>
                        <p><strong>image address:</strong></p><a href="http://127.0.0.1:8000{{im.image.url}}">http://127.0.0.1:8000{{im.image.url}}</a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    {%endfor %}
</div>


{% endblock%}